<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercicio Switch</title>
    <link rel="stylesheet" href="estilo/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Open+Sans:wght@500&family=Readex+Pro:wght@200;400&family=Roboto:wght@300;500;700&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/4802de7a80.js" crossorigin="anonymous"></script>
</head>

<body>

    <header>
        <nav>
            <img src="imagens/images/logo seb png/logo seb png/logo seb png/logo 2.png" class="logo">
            <form action="">
                <button id="btn">
                    <nobr>INICIAR BUSCA</nobr><i class="fas fa-search btnscrh"></i>
                </button>
                <input type="search" id="search" name="search" placeholder="Busca por código ou palavra-chave">
                <span><i id="icon" class="fas fa-chevron-right"></i></span>
            </form>

            <ul>
                <li><a href="">Inicio</a></li>
                <li><a href=""><span>Imóveis</span></a></li>

                <div>
                    <nav>
                        <i class="fas fa-bars" id="btn2"></i>
                        <ul class="mobile">
                            <li><a href="">Home</a></li>
                            <li><a href="">sobre</a></li>
                            <li><a href="">contato</a></li>
                        </ul>
                    </nav>
                </div>
            </ul>
        </nav>
        </nav>
    </header>

    <div class="mySlides fade">
        <div class="numbertext">1 / 3</div>
        <img src="imagens/images/casas-bonitas.jpg" style="width:100%">
    </div>

    <div class="mySlides fade">
        <div class="numbertext">2 / 3</div>
        <img src="imagens/images/casa2.jpg" style="width:100%">
    </div>

    <div class="mySlides fade">
        <div class="numbertext">3 / 3</div>
        <img src="imagens/images/mobile_Carrossel_11_de_novembro.jpg" style="width:100%">
    </div>

    <div class="pontos" style="text-align:center; margin-top: -30px;">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
    </div>

    </div>

    <div class="banner-img">
        <div class="banner-filho">
            <div class="banner-card"></div>
            <div class="card-center">
                <span id="circle-purple">Alto Padrão</span>
                <h4>Imovel localizado na Zona Sul, Entre em contato conosco e Faça uma visita, agende já!</h4>
                <p>Alphaville 1 - Casa em Condomínio com 5 suíte(s), 5 dormitório(s) e 9 vaga(s) de garagem, para venda.
                </p>
                <div class="card-circle">
                    <img id="img-circle" src="imagens/images/sebastião.jpg" alt="">
                    <h5>Sebastião Souza</h5>
                </div>
            </div>
        </div>

        <div class="banner-filho">
            <div class="banner-card1"></div>
            <div class="card-center">
                <span id="circle-purple">Alto Padrão</span>
                <h4>Imovel localizado na Zona Sul, Entre em contato conosco e Faça uma visita, agende já!</h4>
                <p>Alphaville 1 - Casa em Condomínio com 5 suíte(s), 5 dormitório(s) e 9 vaga(s) de garagem, para venda.
                </p>
                <div class="card-circle">
                    <img id="img-circle" src="imagens/images/sebastião.jpg" alt="">
                    <h5>Sebastião Souza</h5>
                </div>
            </div>
        </div>

        <div class="banner-filho">
            <div class="banner-card2"></div>
            <div class="card-center">
                <span id="circle-green">Popular</span>
                <h4>Imovel localizado na Zona Sul, Entre em contato conosco e Faça uma visita, agende já!</h4>
                <p>Alphaville 1 - Casa em Condomínio com 5 suíte(s), 5 dormitório(s) e 9 vaga(s) de garagem, para venda.
                </p>
                <div class="card-circle">
                    <img id="img-circle" src="imagens/images/sebastião.jpg" alt="">
                    <h5>Sebastião Souza</h5>
                </div>
            </div>
        </div>

        <div class="banner-filho">
            <div class="banner-card3"></div>
            <div class="card-center">
                <span id="circle-green">Popular</span>
                <h4>Imovel localizado na Zona Sul, Entre em contato conosco e Faça uma visita, agende já!</h4>
                <p>Alphaville 1 - Casa em Condomínio com 5 suíte(s), 5 dormitório(s) e 9 vaga(s) de garagem, para venda.
                </p>
                <div class="card-circle">
                    <img id="img-circle" src="imagens/images/sebastião.jpg" alt="">
                    <h5>Sebastião Souza</h5>
                </div>
            </div>
        </div>
    </div>

    <section class="about">
        <div class="about-me">
            <h1><span class="auto-input"> Sebastião Souza!</span></h1>
            <p>Meu nome É <strong>Sebastião Souza,</strong><br> Sou corretor de Imóveis,<br> Estou disponivel em ajudar
                você, á encontrar o imovel ideal.<br><strong>Consulte o Correror pelo numero do Creci
                    (220753-f)</strong>
            </p>
            <a href="https://www.crecisp.gov.br/">Consulte</a>
        </div>

        <div class="images">
            <img src="imagens/images/photo1640891566-png.png" alt="">
        </div>
    </section>

    <div class="depoiments-text">
        <h1 class="blog-title">Depoimentos</h1>
    </div>

    <section class="depoiments">
        <div class="swiper-container mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="testimonialbox">
                        <img src="imagens/images/cotacao.png" class="quote">
                        <div class="content-box">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum mollitia soluta qui quod voluptatibus aperiam. Id odio similique asperiores voluptate quaerat quidem quibusdam enim repudiandae. Rem, nisi labore. Commodi, ducimus.</p>
                            <div class="details">
                                <div class="imgbx">
                                    <img src="imagens/images/user1.png" alt="">
                                </div>
                                <h3>Sebastião Souza<br><span>Creative Design</span></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="testimonialbox">
                        <img src="imagens/images/cotacao.png" class="quote">
                        <div class="content-box">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum mollitia soluta qui quod voluptatibus aperiam. Id odio similique asperiores voluptate quaerat quidem quibusdam enim repudiandae. Rem, nisi labore. Commodi, ducimus.</p>
                            <div class="details">
                                <div class="imgbx">
                                    <img src="imagens/images/user1.png" alt="">
                                </div>
                                <h3>Someone Famoys<br><span>Creative Design</span></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="testimonialbox">
                        <img src="imagens/images/cotacao.png" class="quote">
                        <div class="content-box">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum mollitia soluta qui quod voluptatibus aperiam. Id odio similique asperiores voluptate quaerat quidem quibusdam enim repudiandae. Rem, nisi labore. Commodi, ducimus.</p>
                            <div class="details">
                                <div class="imgbx">
                                    <img src="imagens/images/user1.png" alt="">
                                </div>
                                <h3>Someone Famoys<br><span>Creative Design</span></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </section>

    <section class="contato">
        <form id="form" action="/send" method="post">
            <h2>Formulário de Contato</h2>
            <div class="input">
                <input type="text" name="name" id="name" required>
                <label>Nome</label>
                <span class="error"></span>
            </div>

            <div class="input">
                <input type="email" name="email" id="email" required>
                <label>E-mail</label>
                <span class="error"></span>
            </div>

            <div class="input">
                <input type="text" required="required" name="numbers" pattern="[0-9]+$" />
                <label>Celular</label>
                <span class="error"></span>
            </div>

            <button type="submit" class="btn-enviar">Enviar</button>
        </form>
    </section>

    <footer>
            <img src="imagens/images/logo seb png/logo seb png/logo seb png/logo 1.png" alt="">
            <p>@ Todos os direitos reservados <br> entre em contato conosco!</p>
    </footer>

    <script src="javascript/script.js"></script>
    <script src="typed.js"></script>

    <script>
        var typed = new Typed(".auto-input", {
            strings: [' Corretor de Imóveis', ' Corretor de Imóveis', ' Entre em contato!',
                'Agende sua visita.'
            ],
            typeSpeed: 100,
            backSpeed: 200,
            loop: true,
        });
    </script>

    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper(".mySwiper", {
            effect: "coverflow",
            grabCursor: true,
            centeredSlides: true,
            slidesPerView: "auto",
            coverflowEffect: {
                rotate: 50,
                stretch: 0,
                depth: 100,
                modifier: 1,
                slideShadows: true,
            },
            pagination: {
          el: ".swiper-pagination",
        },
        });
    </script>
    <script src="app.js"></script>

</body>

</html>